@use 'mixins' as m;
@use 'vars' as v;



section{
    @include m.flex(space-around);
    flex-wrap: wrap;
}

article{
    width: 550px;
    height:300px;
    border: 1px solid lightgray;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);


    .top-card {
        height: 80%;
        @include m.flex();

         

        img{
            object-fit: cover;
            height: 100%;
            width: 255px;
        }

        .description{

            padding:10px;
            height: 100%;
            @include m.flex();
            flex-direction: column;

            div strong{
                display:none;
        
            }
            div:nth-of-type(1){
                overflow: hidden;         /* Cache le contenu qui dépasse */
                text-overflow: ellipsis;
                // white-space: nowrap;
            }

            div:nth-of-type(2){
                height: 50%;
                overflow: hidden;         /* Cache le contenu qui dépasse */
                text-overflow: ellipsis;
                // white-space: nowrap;
            }

            div:nth-of-type(3){
               display:none;
        
            }
        }
    }

    .classlogo {
        padding:1rem;

        img{
        height: 30px;
        }
    }
}